*{
	background-color: rgb(224, 163, 144);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	color: rgb(221, 221, 221);
}
a{
	text-decoration: none;
}

.menu_Barra__Enlaces a:hover {
	color: rgb(20, 2, 2);
}
header{
	background-color: rgb(75, 2, 2);/* color del banner */
	position: sticky;
	top:0px;
	z-index: 10;
}
.barraFondo{
	position: absolute;
	width: 100vw; /* pixeles del logo*/
	height: 100px;
	background-color: rgb(75, 2, 2);
	top: 0px;
	left: 0px;
	z-index: 0;
}
.menu_Barra__Enlaces {
	position: absolute;
	top: 50%; /* mitad de la imagen*/
	text-align: center;
	width: 100%;
	height: 50%;
	background-color: rgb(75, 2, 2);
	
}
.menu_Barra__Enlaces ul{
	display: inline;
	margin-left: 4px;
	margin-right: 4px;;
	background-color: rgb(75, 2, 2);/* color del banner */
}

.menu_Barra__LogoInicio {
	display: inline-block;
	width: 200px;
	height:100px;
	position: relative;
	z-index: 100;
}
.menu_Barra__LogoInicio img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	background-color: rgb(75, 2, 2); /* color del banner */
}
article{
	display: inline-block;
	width: 75vw;
	height: 100vh;
	margin-right: 10px;
}


section{
	display: inline;
}
.presentacion {
	display: inline-block;
	width: 700px;
	height: 500px;;
	margin: auto;
}
article img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
aside{
	display: inline;
	position:fixed;
	width: 25vw;
	height: 100vh;
	margin-top: 30px;
	outline: 30px solid rgb(138, 51, 51);
	z-index: 80;
}
aside, aside *{
	background-color: rgb(138, 51, 51);
}
.menu_Lateral{
	text-align: center;
	margin-bottom: 30px;
}
.sponsor{
		/* Centro las imagenes*/
	margin-left: 25%;
	margin-right: 25%;
}

.sponsor__imagen img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

footer {
	position: relative;
	z-index: 100;
	padding-bottom: 10px;
}
footer, footer *{
	text-align: center;
	margin-top: 10px;
	background-color:  rgb(138, 51, 51);
}
footer h3{
	padding-top: 10px;
}

.redesSociales img{
	width: 35px;
	height: 35px;
}
