*{
	background-color: rgb(250, 85, 35);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	color: rgb(221, 221, 221);
}
a{
	text-decoration: none;
}
a:hover{
	color: rgb(149, 149, 149);
}

nav a {
	font-size: 1.5em;
}
header{
	height: 96px;
	width: 100vw;
	text-align:center;
	outline: auto;
	display: flex;
	position: fixed;

}
.menu_Bar{
	padding: 10px 10px;
	display: flex;
}
.menu_Bar ul{
	padding: 8px 16px;
}
aside nav{
	text-align: left;
}
article{
	padding-top: 96px;
}


footer{
	text-align: center;
}
