*{
	background-color: rgb(224, 163, 144);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	color: rgb(221, 221, 221);
}
a{
	text-decoration: none;
}

.menu_Barra__Enlaces a:hover {
	color: rgb(20, 2, 2);
}
header{
	background-color: rgb(75, 2, 2);/* color del banner */
	position: sticky;
	top:0px;
	z-index: 10;
}
.barraFondo{
	position: absolute;
	width: 100vw; /* pixeles del logo*/
	height: 100px;
	background-color: rgb(75, 2, 2);
	top: 0px;
	left: 0px;
	z-index: 0;
}
.menu_Barra__Enlaces {
	position: absolute;
	top: 50%; /* mitad de la imagen*/
	text-align: center;
	width: 100%;
	height: 50%;
	background-color: rgb(75, 2, 2);
	
}
.menu_Barra__Enlaces ul{
	display: inline;
	margin-left: 4px;
	margin-right: 4px;;
	background-color: rgb(75, 2, 2);/* color del banner */
}

.menu_Barra__LogoInicio {
	display: inline-block;
	width: 200px;
	height:100px;
	position: relative;
	z-index: 100;
}
.menu_Barra__LogoInicio img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	background-color: rgb(75, 2, 2); /* color del banner */
}
article{
	display: inline-block;
	margin-right: 10px;
}
article img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.presentacion {
	width: 700px;
	height: 500px;;
}
.resultDeLaSemana,.resultDeLaSemana h1 {
	display: inline;
}
.menu_Lateral{
	text-align: center;
}
.sponsor{
	margin-left: 12.5%;
	margin-right: 12.5%;
}
.sponsor__imagen{
	/* Centro las imagenes*/

	width: 200px;
	height: 60px;
}
.sponsor__imagen img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
aside{
	display: inline;
	position:fixed;

}
footer{
	text-align: center;
}

.redesSociales img{
	width: 35px;
	height: 35px;
}
